# --- Web & API ---
fastapi==0.135.1
uvicorn==0.41.0
python-dotenv==1.2.2

# --- Database & RAG ---
psycopg2-binary
pgvector
supabase

# --- AI & Models ---
google-genai
groq
openai==2.26.0

# --- Video & Audio Processing ---
ffmpeg-python==0.2.0
scenedetect[opencv]
librosa
soundfile>=0.12.1
soundfile
numpy

# --- YouTube Tools ---
yt-dlp>=2026.3.3
pytubefix>=10.3.8

# --- Modül 2 Hazırlık (Görsel & Edit) ---
mediapipe
opencv-python
reportlab
python-multipart